/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 600px;
  padding: 0 35px;
}

.footer {
  background-color: pink;
}